* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #000;
    height: 700px;
}

.navbar {
    width: 100%;
    height: 100px;
    flex-shrink: 0;
    background: #000;
    background: #000;
    box-shadow: 0px 4px 4px 0px #2868A2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 100;
}

.title {
    color: #FFF;
    font-family: "Tilt Warp";
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-self: center;
    margin-left: 20px;

}

.contents {
    width: 50rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;


}


.lists {
    display: flex;
    align-items: center;
    align-content: center;
    gap: 22px;
    margin-right: 30px;



}

.listnav {
    color: #FFF;
    font-family: "Tilt Warp";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    list-style: none;


}

.profilelogo {
    width: 60px;
    height: 60px;

}

.headroad {
    width: 10vw;
    height: 100vh;
    /* border: 2px solid white; */
    position: relative;
    top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background-color: #000;


    /* background-color: #FFF; */
}

.headroadtext {
    text-align: center;
    font-family: Montserrat;
    font-size: 98px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    background: linear-gradient(101deg, #F33742 20.15%, #FCB111 39.15%, #4382EE 58.16%, #B840B4 77.16%, #FB9F18 96.16%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: rotate(-90deg);
    position: absolute;
    /* top: 40%; */


}

.roadcon {
    width: 90vw;
    height: 100vh;

    position: absolute;
    top: 100px;
    left: 10vw;
    background-image: url("../imgg/Roadmaps/RMBG.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px;
    /* background-position: center;     */
}

.roaditem {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    cursor: pointer;

}

.Roadmapname {
    font-family: Montserrat;
    font-size: 2rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

    text-align: center;
    background: linear-gradient(101deg, #F33742 20.15%, #FCB111 39.15%, #4382EE 58.16%, #B840B4 77.16%, #FB9F18 96.16%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;


}

.RMDESC {
    font-family: Montserrat;
    font-size: 0.5rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

    text-align: center;
    background: white;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* @media screen and (max-width:768px){
    .roadcon{
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(1fr,4);
        background-image: url("imgg/Roadmaps/RMBG.png");
        
    }
    .Roadmapname{
        font-size: 1rem;
    }
    .RMDESC{
        font-size: 0.4rem;
    }
    .roaditem img{
        width: 25px;
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 100px;
    }
} */
